@import url("/static/css/reset.css");
@import url(modal.css);
@font-face {
  font-family: "Montserrat";
  src: url("/static/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
body {
  font-family: "Montserrat";
  background: #FCFCFC;
  display: flex;
  flex-direction: column;
  margin: 0;
}

html, body {
  height: 100%;
}

header {
  width: calc(100% - 20px);
  background: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
  margin: 10px;
  padding: 20px 0;
  border-radius: 25px;
}
header .header-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
  max-width: 80%;
  margin: 0 auto;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .logo img {
  max-width: 100%;
  height: auto;
}
header .header-list ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #fff;
}
header .header-list ul li {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
}
header .header-list ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: width 0.5s;
}
header .header-list ul li:hover::after {
  width: 100%;
}
header .header-icons {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
header .header-icons img {
  height: 30px;
  cursor: pointer;
}
@media (max-width: 768px) {
  header .header-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  header .header-list ul {
    flex-direction: column;
    gap: 15px;
  }
  header .header-icons {
    margin-top: 30px;
    justify-content: flex-start;
  }
}

main {
  flex: 1;
}
main .wrap {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main .wrap h1 {
  color: #282828;
}
main .wrap .account-info {
  background: #fff;
  box-shadow: 0 0 89px -39px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .wrap .account-colorchange {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
main .wrap .change-color {
  background: #fff;
  box-shadow: 0 0 89px -39px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
}
main .wrap input[type=color] {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
main .wrap input[type=color]::-moz-color-swatch {
  border: none;
}
main .wrap input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}
main .wrap input[type=color]::-webkit-color-swatch {
  border: none;
}
main .wrap .colorInput {
  height: 120px;
  width: 120px;
}
main .wrap .inputText > h1 {
  background: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
main .wrap .inputText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .wrap .info-content {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
}
main .wrap .info-content .lk-color ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .wrap .info-content .lk-color li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #282828;
  font-size: 1.2rem;
}
main .wrap .info-content .acc-li {
  background: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  color: red;
  font-size: 1.5rem;
  font-weight: 700;
}
main .wrap .settings {
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  color: #fff;
  font-size: 1rem;
}
main .wrap .settings button {
  background: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
  font-weight: 600;
  padding: 0.6rem 0;
  border-radius: 12px;
}
main h1 {
  font-weight: 700;
  font-size: 2rem;
}

footer {
  background: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
}
footer .footer-wrap {
  width: 80%;
  margin: 0 auto;
  line-height: 5rem;
  color: #fff;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
}
footer .tg-footer {
  display: flex;
  align-items: center;
}
footer .tg-footer img {
  display: flex;
  align-items: center;
}/*# sourceMappingURL=account.css.map */