@import url('/static/css/reset.css');
@import url(modal.css);
@font-face {
    font-family: 'Montserrat';
    src: url('/static/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

$main-color: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
$main-color-deg: linear-gradient(135deg, #ff9a8b 0%, #ff6b88 51%, #ff98ab 100%);
$bg-white: #FCFCFC;
$header-padding: 20px;
$header-margin: 10px;
$gap: 30px;
$text-secondary: #282828;

body { 
    font-family: 'Montserrat';
    background: $bg-white;
    display: flex;
    flex-direction: column;
    margin: 0;
}

html, body {
    height: 100%;
}

header {
    width: calc(100% - 2 * $header-margin);
    background: $main-color;
    margin: $header-margin;
    padding: $header-padding 0;
    border-radius: 25px;

    .header-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: $gap;
        max-width: 80%;
        margin: 0 auto;
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .header-list {
        ul {
            display: flex;
            justify-content: center;
            gap: $gap;
            list-style: none;
            padding: 0;
            margin: 0;
            font-weight: 700;
            color: #fff;

            li {
                position: relative;
                cursor: pointer;
                padding: 5px 0;

                &::after {
                    content: '';
                    height: 2px;
                    width: 0;
                    background: #fff;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    transition: width 0.5s;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }

    .header-icons {
        display: flex;
        justify-content: flex-end;
        gap: $gap;

        img {
            height: 30px;
            cursor: pointer;
        }
    }

    // Адаптивный дизайн
    @media (max-width: 768px) {
        .header-container {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto;
        }

        .header-list {
            ul {
                flex-direction: column;
                gap: 15px;
            }
        }

        .header-icons {
            margin-top: $gap;
            justify-content: flex-start;
        }
    }
}

main {
    .wrap {
        h1 {
            color: $text-secondary;
        }

        width: 80%;
        margin: 20px auto;
        
        display: flex;
        flex-direction: column;
        gap: 25px;

        .account-info {
            // height: 400px;
            background: #fff;
            box-shadow: 0 0 89px -39px rgba(0, 0, 0, 0.25);
            border-radius: 25px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .account-colorchange {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        .change-color {
            // height: 200px;
            background: #fff;
            box-shadow: 0 0 89px -39px rgba(0, 0, 0, 0.25);
            border-radius: 25px;
            padding: 40px;

            display: grid;
            grid-template-columns: auto 1fr;
            gap: 30px;
        }

        input[type="color"] {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
          
        input[type="color"]::-moz-color-swatch {
            border: none;
        }
          
        input[type="color"]::-webkit-color-swatch-wrapper {
            padding: 0;
            border-radius: 0;
        }
          
        input[type="color"]::-webkit-color-swatch {
            border: none;
        }

        .colorInput {
            height: 120px;
            width: 120px;
        }

        .inputText > h1 {
            background: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }

        .inputText {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        .info-content {
            padding:40px;
            display: grid;
            grid-template-columns: 1fr 1fr auto;

            .lk-color {
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 30px;
                }

                li {
                    display: flex;
                    align-items: center;
                    gap: .5rem;

                    color: $text-secondary;
                    font-size: 1.2rem;
                }
            }

            .acc-li {
                background: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                color: transparent;

                color: red;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

        .settings {
            padding: 40px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 40px;

            color: #fff;
            font-size: 1rem;

            button {
                background: $main-color;
                font-weight: 600;
                padding: .6rem 0;
                border-radius: 12px;
            }
        }
    }

    h1 {
        font-weight: 700;
        font-size: 2rem;
    }

    flex: 1;
}

footer {
    background: $main-color;

    .footer-wrap {
        width: 80%;
        margin: 0 auto;
        line-height: 5rem;
        color: #fff;
        font-size: 1.1rem;

        display: flex;
        justify-content: space-between;
    }

    .tg-footer {
        display: flex;
        align-items: center;

        img {
            display: flex;
            align-items: center;
        }
    }
}