@import url("./static/css/reset.css");
@font-face {
  font-family: "Montserrat";
  src: url("./static/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}
body {
  font-family: "Montserrat";
  background: #FCFCFC;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  width: calc(100% - 20px);
  background: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
  margin: 10px;
  padding: 20px 0;
  border-radius: 25px;
}
header .header-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;
  max-width: 80%;
  margin: 0 auto;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header .logo img {
  max-width: 100%;
  height: auto;
}
header .header-list ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 700;
  color: #fff;
}
header .header-list ul li {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
}
header .header-list ul li::after {
  content: "";
  height: 2px;
  width: 0;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  transition: width 0.5s;
}
header .header-list ul li:hover::after {
  width: 100%;
}
header .header-icons {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}
header .header-icons img {
  height: 30px;
}
@media (max-width: 768px) {
  header .header-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  header .header-list ul {
    flex-direction: column;
    gap: 15px;
  }
  header .header-icons {
    margin-top: 30px;
    justify-content: flex-start;
  }
}

main .wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
main .good-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  gap: 3rem;
  box-shadow: 0 0 89px -39px rgba(0, 0, 0, 0.25);
  background: #fff;
  border-radius: 25px;
  padding: 20px;
  transition: 0.8s;
}
main .good-container:hover {
  transform: scale(1.01);
}
main .img-wrap img {
  background: linear-gradient(135deg, #ff9a8b 0%, #ff6b88 51%, #ff98ab 100%);
  padding: 50px;
  border-radius: 20px;
  height: 300px;
  width: 300px;
}
main .text-wrap {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  justify-content: space-around;
}
main .text-wrap h1 {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
main .text-wrap p {
  color: #282828;
}
main .text-wrap .good-sec-text {
  color: #f3f3f3;
}
main .text-wrap .none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: transparent;
}
main .text-wrap .radio {
  display: flex;
  align-items: center;
}
main .text-wrap .radio label {
  margin-right: 20px;
  font-size: 1.2rem;
  cursor: default;
}
main .text-wrap .black {
  color: #000;
}
main .text-wrap b {
  margin-right: 30px;
}
main .text-wrap input[type=radio] {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 5px;
  cursor: pointer;
}
main .shop-wrap {
  position: relative;
}
main .shop-wrap .shop-elems {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 2rem;
  background: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
main .shop-wrap .shop-elems button {
  background: linear-gradient(90deg, #ff9a8b 0%, #ff6b88 52%, #ff98ab 100%);
  border-radius: 10px;
}
main .shop-wrap .shop-elems button img {
  height: 40px;
  padding: 5px;
}/*# sourceMappingURL=shop.css.map */